.tech h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tech__list {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.tech__item {
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid lightgray;
    /* width: 115px;
    height: 115px; */
}

.tech__item img {
    border-radius: 10px;
}

#Translate {
    padding: 34px 20px;
    width: 115px;
    height: auto;
}

#PixelPerfect {
    width: 100px;
    height: auto; 
}

#WebSocet {
    width: 115px;
    height: auto;
    padding: 7px 0; 
}

@media (max-width: 880px) {
    .tech h1 {
        align-items: center;
    }
    .tech__list {
        justify-content: center;
    }
}