@import url(./fonts/fonts.css);

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body {
  /* background-image: url(./images/minh-bach-tr-ng-RZW1Ieq6Jm0-unsplash.webp); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: slategrey;
  color: white;
  font-family: 'Lora', serif;
  font-weight: 400;
}

body, h2, h3, ul, p, button {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  color: white;
  background: none;
  border: none;
}

li button :hover {
  cursor: pointer;
}